<h1> Filiais </h1>

<% @subsidiaries.each do |subsidiary| %>
    <%= link_to subsidiary.name, subsidiary %>
<% end %>

<% if @subsidiaries.empty? %>
  <p> 'Nenhuma subsidiária cadastrada' </p>
<% end %>

<%= link_to 'Registrar nova subsidiária', new_subsidiary_path%>

<%= link_to 'Voltar',root_path %>