<h1> Fabricantes </h1>

<% if @manufacturers.any? %>
  <ul>
    <% @manufacturers.each do |manufacturer| %>
      <li>
        <%= link_to manufacturer.name, manufacturer %>
      </li>
    <% end %>
  </ul>
<% else %>
  <h4> Nenhum fabricante cadastrado </h4>
<% end %>